.comments {
    width: 100%;
}

.comments-wrapper {
    margin-bottom: 1rem;
}
.comment-content {
    font-size: 14px;
    margin-bottom: .3rem;
}

.comment-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #efefef;
    outline: none;
    border-radius: 2px;
    resize: none;
    flex: 2;
}
.comment-form button {
    flex: 0.15;
    border: none;
    background: transparent;
    color: #0095f6;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
}